<div class="card" id="<%= dom_id event_management %>">
  <div class="card-header">
    Event Details
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Title</th>
        <td><%= event_management.title %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= event_management.description %></td>
      </tr>
      <tr>
        <th scope="row">Start Time</th>
        <td><%= event_management.start_time %></td>
      </tr>
      <tr>
        <th scope="row">End Time</th>
        <td><%= event_management.end_time %></td>
      </tr>
    </tbody>
  </table>
</div>
