<%= form_with(model: event_management) do |form| %>
  <% if event_management.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(event_management.errors.count, "error") %> prohibited this event_management from being saved:</h2>

      <ul>
        <% event_management.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start_time, style: "display: block" %>
    <%= form.datetime_field :start_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :end_time, style: "display: block" %>
    <%= form.datetime_field :end_time, class: "form-control" %>
  </div>
<br/>
  <div class="form-group">
    <%= form.submit "Create Event", class: "btn btn-primary" %>
  </div>
<% end %>
