<p style="color: green"><%= notice %></p>

<%= render @event_management %>

<div>
  <%= link_to "Edit this event management", edit_event_management_path(@event_management) , class:"btn btn-outline-success"%> |
  <%= link_to "Back to event managements", event_managements_path , class:"btn btn-outline-secondary"%>

  <%= button_to "Destroy this event management", @event_management, method: :delete ,  class:"btn btn-outline-danger" , style:"margin-top:10px;" %>
</div>
